h1 {
  text-align: center;
  color: rgb(210, 210, 210);
  font-size: 60px;
}

.h2Div {
  width: 150px;
  margin: auto;
}

.mainDiv {
  width: 300px;
  margin: auto;
}

.h3Div {
  width: 200px;
  margin: auto;
}

body {
  font-family: "Noto Sans Newa", serif;
  background-image: url('aircraft-5611528.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

h2, h3, p {
  color: rgb(210, 210, 210);
  text-align: center;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height for vertical centering */
}

.frosted-glass {
  width: 60%; /* Adjust size as needed */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  border-radius: 10px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  text-align: justify; /* For consistent text alignment */
  color: rgb(0, 0, 0); /* Darker text color for contrast */
}

.frosted-glass img {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  max-width: 150px;
  height: auto;
  border-radius: 5px;
}
